@model IEnumerable<MVCCRUD.Models.Notaest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IIPN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SIST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PROYEC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EXCI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NFCI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IIC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IIPN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SIST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROYEC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXCI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NFCI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IIC)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger"  asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
